.body_backround
{
background-color: blue; 
}

#head_info 
{
    height: 70px;
    width: 1000px;
}

#myCanvas
{
    border-style:ridge ;
    border-width: 10px;
    background-color: white;
}

.body_backround{
    background-image:url("avenger_bg.jpg")
}